* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: url(../img/bg2.jpg);
  background-size: 100% 100%; 
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
}


.box{position: relative;
  background: #ccc;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;]
  margin-top: 40%;
  margin: 0 0px;
  padding: 10px;
  margin: 25%;
} 


h1 {
  text-align: center;
  font-size: 15pt;
  color: #666;
  margin-bottom: 3%;
  font-size: 14pt;
}

h2 {
  text-align: center;
  font-size: 15pt;
  color: #666;
  font-size: 18pt
}


.divcat{
  background-color: #f7f7f7;
  border-radius: 5px;
  color: #777;
  padding: 15px;
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  margin-bottom: 4%;

}

.btf{
  position: absolute;
  display: none; 
  width: 8%;
  padding: 3px;
  margin-left: 85.5%;
  margin-top: 1%;
}
.clp{
    background-color: #f7f7f7;
    border-radius: 5px;
    color: #777;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 1%;
}



form {
  flex-direction: column;
  gap: 10px;
  margin: 0 10px;
  padding: 10px;
  text-align: center;
}

textarea, button {
  background-color: #f7f7f7;
  border: none;
  border-radius: 5px;
  color: #777;
  font-size: 18px;
  outline: none;
  padding: 15px;
  width: 100%;
}


.inp, .mod{
  background-color: #f7f7f7;
  border: none;
  border-radius: 5px;
  color: #777;
  font-size: 18px;
  outline: none;
  padding: 15px;
  width: 100%;
  margin-bottom: 4%;
  text-align: center;
 }



button {
  color: #777;
  cursor: pointer;
  font-weight: bold;
}


.menu{
  text-align: center;

}


.menu-botao{
  background-color: #f7f7f7;
  border: none;
  border-radius: 5px;
  color: #777;
  font-size: 18px;
  outline: none;
  padding: 15px;
  width: 100%;
  margin-bottom: 4%;

}

.clbt{
  margin: 5% 0%;
}

.btenv:focus {
  color: green;
}

.btenv:visited {
  color: green;
}

.btenv:active{
  background: #0f0;
  transition: 1; 
}