* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: url(../img/bg2.jpg);
  background-size: 100% 100%;
  background-position: absl;
  text-align: center;
  padding: 5%;
  gap: 10px;
  height: 100vh;
  justify-content: center;

}

.divnv{
  background: #f7f7f7;
  border: 3px solid #ccc;
  border-radius: 15px;
  margin-top: 20%;
  padding: 5%;
  padding-bottom: 10%;

}




.h1fim{
  text-align: center;
  border: 2px solid black;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: #777;
  font-size: 18px;
  outline: none;
  padding: 15px;
  width: 100%;
  margin-bottom: 10%;
  border: 1px solid #ccc;

}

.btnv{
  text-align: center;
  border: 2px solid black;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: #777;
  font-size: 18px;
  outline: none;
  padding: 15px;
  width: 100%;
  margin-bottom: 14%;
  text-decoration: none;
  border: 1px solid #ccc;

}